body, html {
    background: rgb(52,0,251);
    background: linear-gradient(32deg, rgba(52,0,251,1) 37%, rgba(224,104,201,1) 88%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow-y: hidden;
}
h2 {
    color:white;
    margin-left: 2em;
    margin-top: 1em;
}
.textBoxContainer {
    width: 37.5em;
    background: #1D2028;
    border-radius: 7px 7px 0 0;
    height: 30em;
    overflow: auto;
    padding:1em;

}
.messageBox {
    background: #444548;
    margin: 1em 1em 0.5em;
    border-radius: 0.3em;
    height: auto;
    padding: 5px;
}
.userMessageText {
    color: whitesmoke;
    margin-left:5px;
}
.userNameAndDate {
    color: #686A6D;
    font-size: 0.7em;
    margin-left:5px;
    margin-top:3px;
    font-weight: bold;
}
.inputContainer {
    width: 600px;
    height: 5em;
    background: #ffffff;
    border-radius: 0 0 10px 10px;
}
textarea {
    width:100%;
    height: 100%;
    margin-top:5px;
    resize: none;
    border: none;
    outline: none;
}
#button {
    margin-top: 30px;
    position: absolute;
    right: -1em;
    background-color: inherit;
    background-repeat: no-repeat;
    border: 2px solid white;
    width: 7em;
    border-radius: 1em;
}
#button:hover {
    filter: brightness(80%);
}



